header {
  width: 100%;
  transition: 0.5s;
  z-index: 10000;
  position: fixed;
}

.banner {
  background-color: #000;
  height: 40px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.lnb {
  width: 1300px;
  margin: auto;
  text-align: right;
}

.lnb a {
  color: #ddd;
  margin: 10px;
}
